body {
  margin: 0;
  background-color: rgb(252, 251, 244);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 25px;
}


.hide {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: (auto, 71px);

}

.medium-grid {
  grid-column: 1 / 4;
}


.hero-pic {
  grid-column: span 4;
}

.menu-icon {
  background-color: rgb(37, 90, 21, 0.5);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
}

.menu-icon img {
  width: 40%;
}

.hero-pic img {
  width: 100%;
}

.text-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.text-box h2 {
  font-size: 20px;
}

.text-box p {
  font-size: 15px;
}

.middle {
  grid-column: span 4;
}

/* Allt i själva annonsen  */
.main {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-head {
  grid-column: span 4;
  font-size: 20px;
  text-align: center;
}

.product {
  margin: 10px 30px;
  border-radius: 10px;
  background-color: rgb(37, 90, 21, 0.3);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;

}

.ad-pic {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.ad-text {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 10px;
}

.product h4 {
  font-size: 18px;
  margin: 5px 0px;
}

.product p {
  margin: 0;
  font-size: 15px;
}


@media (min-width: 400px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .medium-grid {
    grid-column: 1 / 5;
  }

  .hero-pic {
    grid-column: span 5;
  }

  .middle {
    grid-column: span 5;
  }

  .main {
    grid-column: span 5;
  }

  .main-head {
    grid-column: span 5;
  }

  .product {
    margin: 10px 0px;
  }

}

@media (min-width: 481px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }

  .medium-grid {
    grid-column: 1 / 7;
  }

  .menu-icon {
    grid-column: span 2;
    max-width: 200px;
  }

  .hero-pic {
    grid-column: span 8;
  }

  .middle {
    grid-column: span 8;
  }

  .main {
    grid-column: span 4;
  }


  .main-head {
    grid-column: span 8;
  }

  .product {
    margin: 5px;

  }
}

@media (min-width: 600px) {

  /* Fråga om det går att lösa med storlekarna */
  .main {
    grid-column: span 2;
  }

}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}