body {
  margin: 0;
  background-color: rgb(252, 251, 244);

}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  padding: 0px 0px 10px 15px;
}

.flex-parent {
  background-color: green;
  display: flex;
  max-height: 71px;

}

.flex-child {
  display: flex;
  width: 50%;
  justify-content: end;
  background-color: blueviolet;

}

.flex-child img {
  height: 70%;
  padding: 10px;


}

.hide {
  display: none;

}

/* .grid-top {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 71px);
  gap: 2px;
} */

/* .grid-item {

} */
/* 
.medium-grid {
  display: block;
  grid-column: span 6;

} */

.menu-icon {
  grid-column: span 2;
  background-color: rgb(37, 90, 21, 0.5);
}

.hero-pic {
  grid-column: span 8;
  grid-row: span 4;
}

.menu-icon img {
  padding: 20px 0px 0px 24px;
  width: 40%;
}

.hero-pic img {
  width: 150%;
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}