body {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 251, 244);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* HEADER-----------------------*/
h1 {
  font-size: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-container {
  min-width: 200px;

}

.logo-container {
  min-width: 50px;
  max-width: 70px;
  background-color: rgb(37, 90, 21, 0.5);
  border-radius: 2px;
}

.logo-container img {
  width: 50%;
  height: 50%;
}

.nav-links {
  display: none;
}


/* MIDDLE ----------------------*/
.middle {
  background-color: white;
}

.middle-flex {
  display: flex;
  flex-direction: column;
}

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 7%;
}

.text-box h2,
p {
  margin: 2%;
  text-align: center;
}

.text-box h2 {
  font-size: 20px;
}

.text-box p {
  font-size: 15px;
}

/* MAIN  ----------------------*/
h3 {
  /* grid-column: span 4; */
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(37, 90, 21, 0.3);
  margin: 10px 32px;
  max-width: 250px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  grid-column: span 4;
}

.ad-pic {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.ad-text {
  display: flex;
  flex-direction: column;
  padding: 0 0 5px 5px;
}

.ad-text h4 {
  font-size: 18px;
  margin: 5px 0px;
}

.ad-text p {
  margin: 0;
  font-size: 15px;
  text-align: left;
}





















@media (min-width: 400px) {}

@media (min-width: 481px) {
  .text-box {
    min-height: 200px;
  }
  .main{
  grid-template-columns: repeat(8, 1fr);
  }
  .main h3 {
    grid-column: span 8;
  }
  
  
}

@media (min-width: 600px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}